<ul class="footer-list">
    {% for category in categories %}
        <li>
            <a href="{{ path('words_per_category', {id: category.id}) }}">{{ category.name }}</a>
        </li>
    {% endfor %}
</ul>