{% extends "base.html.twig" %}

{% block title %}
    Culinair woordenboek
{% endblock %}

{% block body %}

    <div class="container">

        <div class="row mb-3">
            <div class="col-md-12">
                <h1>Culinair woordenboek</h1>
                <p>Alle woorden uit het culinair woordenboek.</p>
            </div>

            {% for set in words|batch(words|length/3) %}
                <div class="col-md-4">
                    <ul class="no-list">
                        {% for wrd in set %}
                            <li>
                                <a href="{{ path('translation_by_slug', {'slug': wrd.slug}) }}">
                                    {{ wrd.dutch|capitalize }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}