{% extends "base.html.twig" %}

{% block body %}

    <h1>Kookboekenshop</h1>

    <div class="row mb-3">
        {% for product in products|filter(product => product.slug) %}
            <div class="col-md-4">
                {% include 'product/tile.html.twig' with {'product':product} only %}
            </div>
        {% endfor %}
    </div>

{% endblock %}