{% extends "base.html.twig" %}

{% block title %}
    Recepten
{% endblock %}

{% block body %}

    <h1>Recepten</h1>

    <div class="row mb-3">
        <div class="col-md-8">
            <p>Een verzameling recepten die uit kookboeken komen.</p>


            <ul>
                {% for recipe in recipes %}
                    <li>
                        <a href="{{ path('recipe', {slug: recipe.slug}) }}">{{ recipe.title }}</a>
                    </li>
                {% endfor %}
            </ul>

        </div>

        <div class="col-md-4">
            <ul>
                <li>RECHTS</li>
                <li>denk</li>
                <li>ik</li>
            </ul>
        </div>
    </div>

    <aside>
        Dit is de aside
    </aside>

{% endblock %}